Dependency conflicts on org.apache.httpcomponents:httpcore, leading to inconsistent program behaviors

Hi, in **Sentinel/sentinel-transport/sentinel-transport-netty-http**, there are mulptiple versions of library **org.apache.httpcomponents:httpcore**. However, according to Maven's dependency management strategy: **_"first declaration wins"_**, only **org.apache.httpcomponents:httpcore:4.4.5** can be loaded, and **org.apache.httpcomponents:httpcore:4.4.6** will be shadowed.

As shown in the following figure, your project expects to invoke method **_<org.apache.http.impl.DefaultConnectionReuseStrategy: keepAlive(Lorg/apache/http/HttpResponse;Lorg/apache/http/protocol/HttpContext;)Z>_**  in library _**org.apache.httpcomponents:httpcore:4.4.6**_ (along the _original dependency path_). As it has been shadowed, this method defined in **_org.apache.httpcomponents:httpcore:4.4.5_** is actually forced to be referenced via the following invocation path (along the _actual dependency path_):

```
<com.alibaba.csp.sentinel.transport.heartbeat.HttpHeartbeatSender: sendHeartbeat()Z> /home/wwww/wangSensor/unzip/Sentinel-1.8.0/sentinel-transport/sentinel-transport-netty-http/target/classes
<org.apache.http.impl.client.CloseableHttpClient: execute(Lorg/apache/http/client/methods/HttpUriRequest;)Lorg/apache/http/client/methods/CloseableHttpResponse;> /home/wwww/.m2/repository/org/apache/httpcomponents/httpclient/4.5.3/httpclient-4.5.3.jar
<org.apache.http.impl.client.CloseableHttpClient: execute(Lorg/apache/http/client/methods/HttpUriRequest;Lorg/apache/http/protocol/HttpContext;)Lorg/apache/http/client/methods/CloseableHttpResponse;> /home/wwww/.m2/repository/org/apache/httpcomponents/httpclient/4.5.3/httpclient-4.5.3.jar
<org.apache.http.impl.client.AbstractHttpClient: doExecute(Lorg/apache/http/HttpHost;Lorg/apache/http/HttpRequest;Lorg/apache/http/protocol/HttpContext;)Lorg/apache/http/client/methods/CloseableHttpResponse;> /home/wwww/.m2/repository/org/apache/httpcomponents/httpclient/4.5.3/httpclient-4.5.3.jar
<org.apache.http.impl.client.DefaultRequestDirector: execute(Lorg/apache/http/HttpHost;Lorg/apache/http/HttpRequest;Lorg/apache/http/protocol/HttpContext;)Lorg/apache/http/HttpResponse;> /home/wwww/.m2/repository/org/apache/httpcomponents/httpclient/4.5.3/httpclient-4.5.3.jar
<org.apache.http.impl.DefaultConnectionReuseStrategy: keepAlive(Lorg/apache/http/HttpResponse;Lorg/apache/http/protocol/HttpContext;)Z>
```

<img width="1264" alt="Sentinel-1 8 0" src="https://user-images.githubusercontent.com/46306510/93053607-9f865980-f69a-11ea-91a0-a56ce2579b3c.png">


Although both of these conflicting libraries contain the referenced methods (**_with the same signature_**), they have **_different implementations_**. This issue will not cause runtime crashes, but it can introduce inconsistent semantic program hehaviors----

Code snippet of **_<org.apache.http.impl.DefaultConnectionReuseStrategy: keepAlive(Lorg/apache/http/HttpResponse;Lorg/apache/http/protocol/HttpContext;)Z>_** in _**org.apache.httpcomponents:httpcore:4.4.6**_  (shadowed but expected to invoke method):

<details><summary>detailed method body</summary>


```java
@Override
    public boolean keepAlive(final HttpResponse response,
                             final HttpContext context) {
        Args.notNull(response, "HTTP response");
        Args.notNull(context, "HTTP context");

        final HttpRequest request = (HttpRequest) context.getAttribute(HttpCoreContext.HTTP_REQUEST);
        if (request != null) {
            try {
                final TokenIterator ti = new BasicTokenIterator(request.headerIterator(HttpHeaders.CONNECTION));
                while (ti.hasNext()) {
                    final String token = ti.nextToken();
                    if (HTTP.CONN_CLOSE.equalsIgnoreCase(token)) {
                        return false;
                    }
                }
            } catch (final ParseException px) {
                // invalid connection header. do not re-use
                return false;
            }
        }

        // Check for a self-terminating entity. If the end of the entity will
        // be indicated by closing the connection, there is no keep-alive.
        final ProtocolVersion ver = response.getStatusLine().getProtocolVersion();
        final Header teh = response.getFirstHeader(HTTP.TRANSFER_ENCODING);
        if (teh != null) {
            if (!HTTP.CHUNK_CODING.equalsIgnoreCase(teh.getValue())) {
                return false;
            }
        } else {
            if (canResponseHaveBody(request, response)) {
                final Header[] clhs = response.getHeaders(HTTP.CONTENT_LEN);
                // Do not reuse if not properly content-length delimited
                if (clhs.length == 1) {
                    final Header clh = clhs[0];
                    try {
                        final int contentLen = Integer.parseInt(clh.getValue());
                        if (contentLen < 0) {
                            return false;
                        }
                    } catch (final NumberFormatException ex) {
                        return false;
                    }
                } else {
                    return false;
                }
            }
        }

        // Check for the "Connection" header. If that is absent, check for
        // the "Proxy-Connection" header. The latter is an unspecified and
        // broken but unfortunately common extension of HTTP.
        HeaderIterator headerIterator = response.headerIterator(HTTP.CONN_DIRECTIVE);
        if (!headerIterator.hasNext()) {
            headerIterator = response.headerIterator("Proxy-Connection");
        }

        // Experimental usage of the "Connection" header in HTTP/1.0 is
        // documented in RFC 2068, section 19.7.1. A token "keep-alive" is
        // used to indicate that the connection should be persistent.
        // Note that the final specification of HTTP/1.1 in RFC 2616 does not
        // include this information. Neither is the "Connection" header
        // mentioned in RFC 1945, which informally describes HTTP/1.0.
        //
        // RFC 2616 specifies "close" as the only connection token with a
        // specific meaning: it disables persistent connections.
        //
        // The "Proxy-Connection" header is not formally specified anywhere,
        // but is commonly used to carry one token, "close" or "keep-alive".
        // The "Connection" header, on the other hand, is defined as a
        // sequence of tokens, where each token is a header name, and the
        // token "close" has the above-mentioned additional meaning.
        //
        // To get through this mess, we treat the "Proxy-Connection" header
        // in exactly the same way as the "Connection" header, but only if
        // the latter is missing. We scan the sequence of tokens for both
        // "close" and "keep-alive". As "close" is specified by RFC 2068,
        // it takes precedence and indicates a non-persistent connection.
        // If there is no "close" but a "keep-alive", we take the hint.

        if (headerIterator.hasNext()) {
            try {
                final TokenIterator ti = new BasicTokenIterator(headerIterator);
                boolean keepalive = false;
                while (ti.hasNext()) {
                    final String token = ti.nextToken();
                    if (HTTP.CONN_CLOSE.equalsIgnoreCase(token)) {
                        return false;
                    } else if (HTTP.CONN_KEEP_ALIVE.equalsIgnoreCase(token)) {
                        // continue the loop, there may be a "close" afterwards
                        keepalive = true;
                    }
                }
                if (keepalive) {
                    return true;
                // neither "close" nor "keep-alive", use default policy
                }

            } catch (final ParseException px) {
                // invalid connection header. do not re-use
                return false;
            }
        }

        // default since HTTP/1.1 is persistent, before it was non-persistent
        return !ver.lessEquals(HttpVersion.HTTP_1_0);
    }
```

</details>


Code snippet of **_<org.apache.http.impl.DefaultConnectionReuseStrategy: keepAlive(Lorg/apache/http/HttpResponse;Lorg/apache/http/protocol/HttpContext;)Z>_** in _**org.apache.httpcomponents:httpcore:4.4.5**_ (loaded version):

<details><summary>detailed method body</summary>


```java
@Override
    public boolean keepAlive(final HttpResponse response,
                             final HttpContext context) {
        Args.notNull(response, "HTTP response");
        Args.notNull(context, "HTTP context");

        // Check for a self-terminating entity. If the end of the entity will
        // be indicated by closing the connection, there is no keep-alive.
        final ProtocolVersion ver = response.getStatusLine().getProtocolVersion();
        final Header teh = response.getFirstHeader(HTTP.TRANSFER_ENCODING);
        if (teh != null) {
            if (!HTTP.CHUNK_CODING.equalsIgnoreCase(teh.getValue())) {
                return false;
            }
        } else {
            if (canResponseHaveBody(response)) {
                final Header[] clhs = response.getHeaders(HTTP.CONTENT_LEN);
                // Do not reuse if not properly content-length delimited
                if (clhs.length == 1) {
                    final Header clh = clhs[0];
                    try {
                        final int contentLen = Integer.parseInt(clh.getValue());
                        if (contentLen < 0) {
                            return false;
                        }
                    } catch (final NumberFormatException ex) {
                        return false;
                    }
                } else {
                    return false;
                }
            }
        }

        // Check for the "Connection" header. If that is absent, check for
        // the "Proxy-Connection" header. The latter is an unspecified and
        // broken but unfortunately common extension of HTTP.
        Header[] connHeaders = response.getHeaders(HTTP.CONN_DIRECTIVE);
        if (connHeaders.length == 0) {
            connHeaders = response.getHeaders("Proxy-Connection");
        }

        // Experimental usage of the "Connection" header in HTTP/1.0 is
        // documented in RFC 2068, section 19.7.1. A token "keep-alive" is
        // used to indicate that the connection should be persistent.
        // Note that the final specification of HTTP/1.1 in RFC 2616 does not
        // include this information. Neither is the "Connection" header
        // mentioned in RFC 1945, which informally describes HTTP/1.0.
        //
        // RFC 2616 specifies "close" as the only connection token with a
        // specific meaning: it disables persistent connections.
        //
        // The "Proxy-Connection" header is not formally specified anywhere,
        // but is commonly used to carry one token, "close" or "keep-alive".
        // The "Connection" header, on the other hand, is defined as a
        // sequence of tokens, where each token is a header name, and the
        // token "close" has the above-mentioned additional meaning.
        //
        // To get through this mess, we treat the "Proxy-Connection" header
        // in exactly the same way as the "Connection" header, but only if
        // the latter is missing. We scan the sequence of tokens for both
        // "close" and "keep-alive". As "close" is specified by RFC 2068,
        // it takes precedence and indicates a non-persistent connection.
        // If there is no "close" but a "keep-alive", we take the hint.

        if (connHeaders.length != 0) {
            try {
                final TokenIterator ti = new BasicTokenIterator(new BasicHeaderIterator(connHeaders, null));
                boolean keepalive = false;
                while (ti.hasNext()) {
                    final String token = ti.nextToken();
                    if (HTTP.CONN_CLOSE.equalsIgnoreCase(token)) {
                        return false;
                    } else if (HTTP.CONN_KEEP_ALIVE.equalsIgnoreCase(token)) {
                        // continue the loop, there may be a "close" afterwards
                        keepalive = true;
                    }
                }
                if (keepalive) {
                    return true;
                // neither "close" nor "keep-alive", use default policy
                }

            } catch (final ParseException px) {
                // invalid connection header means no persistent connection
                // we don't have logging in HttpCore, so the exception is lost
                return false;
            }
        }

        // default since HTTP/1.1 is persistent, before it was non-persistent
        return !ver.lessEquals(HttpVersion.HTTP_1_0);
    }
```

</details>





## **Dependency tree--**

[INFO] com.alibaba.csp:sentinel-transport-netty-http:jar:1.8.0
[INFO] +- com.alibaba.csp:sentinel-transport-common:jar:1.8.0:compile
[INFO] |  +- com.alibaba.csp:sentinel-datasource-extension:jar:1.8.0:compile
[INFO] |  |  \- com.alibaba.csp:sentinel-core:jar:1.8.0:compile
[INFO] |  \- (com.alibaba:fastjson:jar:1.2.71:compile - omitted for duplicate)
[INFO] +- io.netty:netty-all:jar:4.1.31.Final:compile
[INFO] +- com.alibaba:fastjson:jar:1.2.71:compile
[INFO] +- org.apache.httpcomponents:httpclient:jar:4.5.3:compile
[INFO] |  +- **(org.apache.httpcomponents:httpcore:jar:4.4.6:compile - omitted for conflict with 4.4.5)**
[INFO] |  +- commons-logging:commons-logging:jar:1.2:compile
[INFO] |  \- commons-codec:commons-codec:jar:1.9:compile
[INFO] +- **org.apache.httpcomponents:httpcore:jar:4.4.5:compile**
[INFO] +- junit:junit:jar:4.12:test
[INFO] |  \- org.hamcrest:hamcrest-core:jar:1.3:test
[INFO] \- org.mockito:mockito-core:jar:2.28.2:test
[INFO]    +- net.bytebuddy:byte-buddy:jar:1.9.10:test
[INFO]    +- net.bytebuddy:byte-buddy-agent:jar:1.9.10:test
[INFO]    \- org.objenesis:objenesis:jar:2.6:test



## **Suggested solutions:**

**Solution1:** Remove the conflicting Jars.

**Solution2:** Update direct dependency org.apache.httpcomponents:httpcore from 4.4.5 to 4.4.6.

Thanks.
Best regards,
Coco

Executing the following test case on **org.apache.httpcomponents:httpcore:4.4.5** and **4.4.6** separately, the risky method **_<org.apache.http.impl.DefaultConnectionReuseStrategy: keepAlive(Lorg/apache/http/HttpResponse;Lorg/apache/http/protocol/HttpContext;)Z>_** will get different return values:

```java
@Test(timeout = 4000)
    public void test09() throws Throwable {
        DefaultConnectionReuseStrategy defaultConnectionReuseStrategy0 = new DefaultConnectionReuseStrategy();
        ProtocolVersion protocolVersion0 = new ProtocolVersion("http.target_host", 205, 205);
        BasicHttpResponse basicHttpResponse0 = new BasicHttpResponse(protocolVersion0, 205, "http.request_sent");
        BasicHttpContext basicHttpContext0 = new BasicHttpContext();
        BasicHttpRequest basicHttpRequest = new BasicHttpRequest("GET", "URI");
        basicHttpContext0.setAttribute("http.request", basicHttpRequest);
        basicHttpRequest.setHeader("Connection","Close");
        boolean boolean0 = defaultConnectionReuseStrategy0.keepAlive(basicHttpResponse0, basicHttpContext0);
        assertTrue(boolean0);
    }
```

Output results:

```java
boolean0 == true   //On **org.apache.httpcomponents:httpcore:4.4.5**

boolean0 == false    //On **org.apache.httpcomponents:httpcore:4.4.6**
```

Variable **_reuse_** (defined in class **org.apache.http.impl.client.DefaultRequestDirector** of library **org.apache.httpcomponents:httpclient:jar:4.5.3**) is assigned by the return value of method **_<org.apache.http.impl.DefaultConnectionReuseStrategy: keepAlive(Lorg/apache/http/HttpResponse;Lorg/apache/http/protocol/HttpContext;)Z>_**.

As such, **_reuse_** value would be changed when the client project references **_org.apache.httpcomponents:httpcore:4.4.5_** (compared with the shadowed but expected version **_4.4.6_**), which could affect program semantic behaviors. 

```java
// The connection is in or can be brought to a re-usable state.
                reuse = reuseStrategy.keepAlive(response, context);
                if (reuse) {
                    // Set the idle duration of this connection
                    final long duration = keepAliveStrategy.getKeepAliveDuration(response, context);
                    if (this.log.isDebugEnabled()) {
                        final String s;
                        if (duration > 0) {
                            s = "for " + duration + " " + TimeUnit.MILLISECONDS;
                        } else {
                            s = "indefinitely";
                        }
                        this.log.debug("Connection can be kept alive " + s);
                    }
                    managedConn.setIdleDuration(duration, TimeUnit.MILLISECONDS);
                }
```

@sczyh30  Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

> @sczyh30 Could please help me check this issue?
> May I pull a request to fix it?
> Thanks again.

Yes you are welcomed to fire a new PR to solve this. Maybe remove unnecessary dependency from `sentinel-transport-netty-http` is better as you have mentioned above.

Close via #1740 